<div class="container" >
    <h2 class="text-center">Login Moonshine</h2>
    
    <form  #loginForm ='ngForm' class="form-horizontal" (ngSubmit)="loginForm.form.valid && onSubmit(loginForm.value)">
      <!-- loginForm: {{ userLogindata}} <br> -->
      <!-- userLogindata: {{userLogindata | json}} <br> -->
      loginFormvalue json: {{loginForm.value | json  }}

      <div class="form-group ">
        <label class="control-label" for="email">Email:</label>
        <div class="col-sm-6">
          <input type="email" #email="ngModel" #emailid [class.is-invalid]="email.invalid && email.touched" class="form-control col-sm-6" placeholder="Enter email" id="email" name="email"  ngModel required pattern=".+\@.+\..+" autocomplete="off" minlength=5>
          <!-- <small class="text-danger" [class.d-none]="email.valid||email.untouched">Email is required</small> -->
          <!-- {{emailid.className}} -->
        </div>
      </div>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
        <small  *ngIf="email.errors.required && email.touched">Email is Required</small>
        <small  *ngIf="email.errors.pattern">Email must have @ .</small>
        <small  *ngIf="email.errors.minlength"> Email must be at least 5 characters long.</small>
      </div>
      <!-- {{email.className}} -->
      <!-- {{email.valid}} -->
      <!-- <div *ngIf="loginForm.value.email.invalid">
        <p>Name required</p>

      </div> -->

        <div class="form-group">
        <label class="control-label" for="password">Password:</label>
        <div class="col-sm-6 ">          
          <input type="password" class="form-control col-sm-6" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" placeholder="Enter password" name="password" ngModel required maxlength="8" minlength="2">
        </div>
      </div>

      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-6">
          <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
          </div>
        </div>
      </div>

      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10 ">
          <button type="submit" class="btn btn-default btn-success" loginform=valid 
          [disabled]="!loginForm.valid">Submit</button>
        </div>

        <div id ="small-font">        
          <p>No account? 
          <a  class="btn-xs btn-outline-danger" routerLink="/signup" routerLinkActive>Sign Up</a>
        </p>
        </div>

      </div>
    </form>
  </div>

  <button class="btn-warning" (click)="getUserLogin($event)">show users</button>
  <div *ngIf="flag">  
  <p>List of users</p>
  <div *ngFor="let user of userLogindata;let i=index">     
    <p > Email : {{user.email}}  | Password: {{user.password}} <button class="btn-sm btn-danger" 
      (click)=deleteUser(i)>-</button></p>    
    
  </div>
</div>
<!-- <hr>

   <div class="mydiv text-center form-group">
    <form>
      <label>name : </label>
      <input type="text">
         <a>hiii</a> hi i am in center
    </form>

  </div>  -->
  <!-- <button (click)="getuser($event)">userdata</button> -->
