/* #content {
    margin: auto;
    border: 1px;
    padding: 10px;
    }

 /* mydiv{
            text-align:center;
            display:inline-block;
            margin:0 auto;
        } */ 
#small-font  {
    display:inline-block;
    font-size: 13px;
    }
        